:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --bg-color: #2f303a;
  --e-address: rgba(255, 255, 255, 0.6);
  --address: #ffffff;
  --button-two: #f5f4fa;
}

body {
  background-color: rgb(238, 238, 238);
  color: var(
    --primary-text-color
  ); /* из всех элементов где я раньше присвоила цвет color = var (- primary-text-color) я его удалила и хотела поместить этот цвет в body
  НО при попытке в body добавить color = var (- primary-text-color), 
  все элементы, которым я раньше присваивала color = var (- primary-text-color) становилось фиолетовым. 
  В чем проблема? */
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}

.list {
  list-style: none;
}

/* INDEX.HTML */

/* logo */

.logo-style {
  color: var(--accent-color);
}
.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo:focus,
.logo:hover {
  color: var(--accent-color);
}

/* nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* main */

.hero-title {
  color: var(--address);
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */

.section-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* features */

.features .title {
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.features .text {
  color: var(--title-text-color);
  font-weight: 400;
  line-height: 1.7;
}

/* team */

.team .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
}

.team .text {
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
}

/* button  */

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
}

.button.primary {
  color: var(--address);
  background-color: var(--accent-color);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
  background-color: var(--address);
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--button-two);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--address);
  background-color: var(--accent-color);
}

/* footer */

.address .text,
.address .link {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.address .link {
  color: var(--e-address);
  font-style: normal;
  text-decoration: none;
}

/* PORTFOLIO.HTML */

/* main */

/* grid */
.grid h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.grid P {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
